<h1>New message</h1>
<% form_for(@message) do |f| %>
  <%= f.error_messages %>
  <%= f.text_area :raw_message %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>


<%= link_to 'Back', messages_path(params[:domain], params[:endpoint]) %>